<a href="https://colab.research.google.com/github/FarahYusri12/Learning-pyhton/blob/main/Messy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Messy_Data.csv')

In [4]:
# First step dalam data cleaning- kumpul maklumat mengenai data

# ini tajuk atas data
print("Data Asal(Messy_Data.csv):")
print(df)
# untuk membezakan dua bahagian output yang berbeza
print("\n" + "="*50 + "\n")

Data Asal(Messy_Data.csv):
      Name   Age     State Score
0      Ali  25.0  Selangor    85
1  Fatimah   NaN     Johor    90
2    Ahmad  30.0  Selangor    88
3     Siti  27.0     Johor     -
4    Ahmad  30.0  Selangor    88
5      NaN  22.0        KL    70
6    Hafiz  35.0     Sabah   105

==================================================

In [26]:
print("Maklumat Data :",'\n')
df.info()
print("\n" + "="*50 + "\n")

print("Statistik Deskriptif:",'\n')
print(df.describe(include='all'))
print("\n" + "="*50 + "\n")

# command untuk tahu berapa banyak nilai yang hilang
print("Bilangan Nilai Hilang:",'\n')
print(df.isnull().sum())
print("\n" + "="*50 + "\n")

Maklumat Data :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     6 non-null      float64
 2   State   7 non-null      object
 3   Score   6 non-null      object
dtypes: float64(1), object(3)
memory usage: 356.0+ bytes

==================================================

Statistik Deskriptif:

         Name        Age     State Score
count       7   6.000000         7     6
unique      6        NaN         4     5
top     Ahmad        NaN  Selangor    88
freq        2        NaN         3     2
mean      NaN  28.166667       NaN   NaN
std       NaN   4.535049       NaN   NaN
min       NaN  22.000000       NaN   NaN
25%       NaN  25.500000       NaN   NaN
50%       NaN  28.500000       NaN   NaN
75%       NaN  30.000000       NaN   NaN
max       NaN  35.000000       NaN   NaN

==================================================

Bilangan Nilai Hilang:

Name     0
Age      1
State    0
Score    1
dtype: int64

==================================================

In [39]:
# Second step- settle nilai yang hilang

#Isi column 'Name' dengan Unknown
df['Name']= df['Name'].fillna('Unknown')

#Isi column Age dgn mencari mean age since dalam column untuk age tiada outlier yang extrem
# Ubah format Age dari float64 ke integer

Mean_Age=df['Age'].mean()
df['Age']=df['Age'].fillna(Mean_Age)
df['Age']=df['Age'].astype(int)

# Score better guna median kalau ada outlier yang extrem, anggap 105 adalah outlier
# Untuk 'Score' kene tukar datatype dulu baru kira median ( object ke float64)
df['Score']=df['Score'].astype(float)
Median_Score=df['Score'].median()
df['Score']=df['Score'].fillna(Median_Score)

print("Selepas mengisi nilai yang hilang:",'\n')
print(df)
print("\n" + "="*50 + "\n")

Selepas mengisi nilai yang hilang:

      Name  Age     State  Score
0      Ali   25  Selangor   85.0
1  Fatimah   28     Johor   90.0
2    Ahmad   30  Selangor   88.0
3     Siti   27     Johor   88.0
4    Ahmad   30  Selangor   88.0
5  Unknown   22        KL   70.0
6    Hafiz   35     Sabah  105.0

==================================================

In [41]:
# Third step- settle duplicate

# 'Keep first' kekalkan kehadiran pertama
df_cleaned_duplicate=df.drop_duplicates(keep='first')
print("Selepas menghapus duplicate:",'\n')
print(df_cleaned_duplicate)
print("\n" + "="*50 + "\n")

Selepas menghapus duplicate:

      Name  Age     State  Score
0      Ali   25  Selangor   85.0
1  Fatimah   28     Johor   90.0
2    Ahmad   30  Selangor   88.0
3     Siti   27     Johor   88.0
5  Unknown   22        KL   70.0
6    Hafiz   35     Sabah  105.0

==================================================

In [43]:
# Step tambahan-buang space di awal dan akhir ayat, dan buat huruf besar di setiap permulaan ayat

# column 'Name'
df['Name']=df['Name'].str.strip()
df['Name']=df['Name'].str.title()

# column 'State'
df['State']=df['State'].str.strip()
df['State']=df['State'].str.title()

print("Selepas mengubah format:",'\n')
print(df)
print("\n" + "="*50 + "\n")

Selepas mengubah format:

      Name  Age     State  Score
0      Ali   25  Selangor   85.0
1  Fatimah   28     Johor   90.0
2    Ahmad   30  Selangor   88.0
3     Siti   27     Johor   88.0
4    Ahmad   30  Selangor   88.0
5  Unknown   22        Kl   70.0
6    Hafiz   35     Sabah  105.0

==================================================

In [23]:
# Kalau perasan dekat 'bilangan nilai yang hilang' untuk score adalah kosong. Ini salah, sepatutnya dekat column score ade satu nilai yang hilang.
# Pandas tak baca simbol " - " ini sebagai nilai yang hilang
# So untuk menyedari bahawa column tersebut mempunyai nilai yg kosong tanpa melihat data adalah dgn cara melihat datatype untuk 'Score'
# Datatype untuk 'Score' sepatutnya angka bukan object. Since datatype yang ditunjukkan adalah object bermakna mungkin ada teks di situ

# cara nak membetulkan 'bilangan nilai yang hilang' untuk column 'Score', dgn menukarkan ' - ' kepada 'NaN'

df['Score']= df['Score'].replace('-',np.nan)
print("Data setelah mengubah - ke NaN:",'\n')
print(df)
print("\n" + "="*50 + "\n")

Data setelah mengubah - ke NaN:

      Name   Age     State Score
0      Ali  25.0  Selangor    85
1  Fatimah   NaN     Johor    90
2    Ahmad  30.0  Selangor    88
3     Siti  27.0     Johor   NaN
4    Ahmad  30.0  Selangor    88
5  Unknown  22.0        KL    70
6    Hafiz  35.0     Sabah   105

==================================================